<p id="notice"><%= notice %></p>

<h1>Listing Websites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Host</th>
      <th>No. of Registers</th>

      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= link_to website.name, website %></td>
        <td><%= website.host %></td>
        <td><%= website.registers.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Website', new_website_path %>
