<div class="container">
  <% if flash[:thanks] %>
    <div class="well" style="margin: 40px 0">
      <div class="well-body" style="padding: 18px 24px">
        <h3>Yay! The whole team is doing a little dance.</h3>
        <p>So glad to have you as a customer. Feel free to <%= mail_to 'email us', 'support@signupsumo.com' %> anytime for any reason. Even if you just want to say "Konnichiwa".</p>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div style="padding: 40px 0">
    <h2>Your Influencers</h2>

    <div class="row" style="margin-top: 40px">
      <% @influencers.each do |signup| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="card-avatar">
                <%= image_tag signup.avatar %>
              </div>

              <h4><%= signup.name %></h4>
              <p><%= signup.details %></p>
              <%= mail_to signup.email, signup.email %>
            </div>
            <div class="card-details">
              <ul class="list-inline">
                <% signup.social.to_a.take(3).each do |name, url| %>
                  <li><%= link_to name.capitalize, url %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <table class="table table-fancy" style="margin-top: 40px">
      <thead>
        <tr>
          <td>
            Influencer
          </td>
          <td>
            Email
          </td>
          <td>
            Most engaged
          </td>
          <td>
            Influence
          </td>
        </tr>
      </thead>
      <tbody>
        <% @influencers.each do |signup| %>
          <tr>
            <td class="clearfix">
              <div class="table-avatar pull-left">
                <%= image_tag signup.avatar %>
              </div>
              <div class="pull-left" style="margin-left: 12px; line-height: 42px">
                <%= signup.name %>
              </div>
            </td>
            <td><%= mail_to signup.email, signup.email %></td>
            <td><%= link_to signup.social.first.first.capitalize, signup.social.first.last %></td>
            <td><%= signup.score * 100 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% unless current_user.subscription && current_user.subscription.active? %>
  <hr>

  <div class="container">
    <div class="row" style="padding: 60px 0">
      <div class="col-xs-12 col-sm-7">
        <h2>When the time is right...</h2>
        <p>Upgrade your account so you don't miss your chance to
        connect with any high-profile signups. <strong>You can cancel anytime</strong> and we'll never charge you a penny until
        you run through your 10 free notifications.</p> 
      </div>
      <div class="xs-hidden col-sm-4 col-sm-offset-1">
        <div style="font-weight: 800; color: #ffac27">
          <span style="font-size: 120px">
            $9<span style="font-size: 50px; vertical-align: 60%; margin-left: 10px">MO</span>
          </span>
          <a href="#" class="btn btn-primary btn-lg btn-block" style="margin-top: 10px">
            Upgrade!
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="callout callout-dark">
  <div class="container">
    <div class="row" style="padding: 60px 0">
      <div class="col-xs-12 col-xs-7">
        <h2>Tips on reaching out</h2>
        <p>Take a few simple steps to engage with your influential users and help
        promote your product through the people that care about it most. Because,
        you want to geninuely connect with your users, get to know them a bit,
        instead of giving off that weird used car salesman vibe.</p>

        <a href="#" class="btn btn-dark btn-lg" style="margin-top: 24px">Read our "Influence 101"</a>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
