<%= render 'shared/navbar' %>

<div class="container">
  <div class="row" style="padding: 60px 0">
    <!-- Include video on how to install the script -->
    <div class="col-xs-12">
      <h2>Let's get setup <small>Just add this to your signup page</small></h2>
      <p>We configured this script tag just for you. Include it anywhere on
      your signup page. We'll keep an eye on your signups and shoot you an
      email when that special someone signs up.</p>

      <div class="well" style="margin-top: 36px">
        <div class="well-body">
          <code>
            <%= %{<script} %><br>
            <%= %{src="//assets.signupsumo.com/signups.js"} %><br>
            <%= %{data-token="#{current_user.authentication_token}">} %><br>
            <%= %{</script>} %>
          </code>
        </div>
      </div>

      <%= link_to 'Learn more about how this works', docs_path %>
    </div>
  </div>
</div>

<% if current_user.created_at > 1.day.ago %>
  <div class="callout">
    <div class="container">
      <div class="row" style="padding: 60px 0">
        <div class="col-xs-7">
          <h2>
            Free stuff!
            <small>Only <%= pluralize([(((current_user.created_at + 1.day) - Time.now) / 1.hour).to_i, 1].max, 'hour') %> left.</small>
          </h2>
          <p>Install our script and start checking signups within your first 24
          hours of signing up and we'll give you a <strong>whole month free</strong>. Sweet, right? Need help
          getting setup? Send us an email.</p>
        </div>

        <div class="col-xs-4 col-xs-offset-1">
          <div class="text-center" style="margin-top: 84px">
            <a href="#" class="btn btn-default btn-lg btn-block">
              Email support
            </a>
            <p style="margin-top: 18px">or <%= link_to 'Read the docs', docs_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <hr>
<% end %>

<div class="container">
  <div class="row" style="padding: 60px 0">
    <div class="col-xs-12 col-sm-7">
      <h2>When the time is right...</h2>
      <p>Upgrade your account so you don't miss your chance to
      connect with any high-profile signups. <strong>You can cancel anytime</strong> and we'll never charge you a penny until
      you run through your 10 free notifications.</p> 
    </div>
    <div class="xs-hidden col-sm-4 col-sm-offset-1">
      <div style="font-weight: 800; color: #ffac27">
        <span style="font-size: 120px">
          $9<span style="font-size: 50px; vertical-align: 60%; margin-left: 10px">MO</span>
        </span>
        <a href="#" class="btn btn-primary btn-lg btn-block" style="margin-top: 10px">
          Upgrade!
        </a>
      </div>
    </div>
  </div>
</div>

<div class="callout callout-dark">
  <div class="container">
    <div class="row" style="padding: 60px 0">
      <div class="col-xs-12 col-xs-7">
        <h2>Tips on reaching out</h2>
        <p>Take a few simple steps to engage with your influential users and help
        promote your product through the people that care about it most. Because,
        you want to geninuely connect with your users, get to know them a bit,
        instead of giving off that weird used car salesman vibe.</p>

        <a href="#" class="btn btn-dark btn-lg" style="margin-top: 24px">Read our "Influence 101"</a>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
