<div class="container hidden-xs">
  <div class="row" style="padding: 20px 0 40px 0">
    <div class="col-xs-12 col-sm-6 text-left">
      <a href="https://assembly.com/signupsumo">Shipped in 7 days on Assembly</a>
    </div>

    <div class="col-xs-12 col-sm-6 text-right">
      <a href="https://clearbit.com">Powered by Clearbit &mdash; They're awesome</a>
    </div>
  </div>
</div>

<div class="container visible-xs">
  <div class="row" style="padding: 20px 0 40px 0">
    <div class="col-xs-12 col-sm-6 text-center" style="margin: 20px 0">
      <a href="https://assembly.com/signupsumo">Shipped in 7 days on Assembly</a>
    </div>

    <div class="col-xs-12 col-sm-6 text-center" style="margin: 20px 0">
      <a href="https://clearbit.com">Powered by Clearbit &mdash; They're awesome</a>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container clearfix">


    <div class="row">

      <div class="col-xs-12 col-sm-2 col-sm-push-5">
        <div class="footer-emblem">
          <%= image_tag "icons/sumo-embelem-yellow@2x.png" %>
        </div>
      </div>

      <div class="hidden-xs col-sm-5 col-sm-pull-2">
        <div class="text-left">
          <p style="font-weight: 200">Follow the Sumo</p>

          <ul class="list-inline">
            <li>
              <%= link_to 'Twitter', 'https://twitter.com/signupsumo' %>
            </li>
            <li>
              <%= link_to 'Facebook', 'https://www.facebook.com/signupsumo' %>
            </li>
            <li>
              <%= link_to 'Instagram', 'http://instagram.com/signupsumo' %>
            </li>
          </ul>
        </div>
      </div>

      <div class="hidden-xs col-sm-5">
        <div class="text-right">
          <p style="font-weight: 200">&copy; 2015 SignupSumo</p>

          <ul class="list-inline">
            <li>
              <a href="mailto:signupsumo@helpful.io" data-helpful="signupsumo">Need Help?</a>
            </li>
            <li>
              <%= link_to 'Terms', terms_path %>
            </li>
          </ul>
        </div>
      </div>

      <div class="visible-xs" style="padding-top: 100px">
        <div class="text-center">
          <p style="font-weight: 200">Follow the Sumo</p>

          <ul class="list-inline">
            <li>
              <%= link_to 'Twitter', 'https://twitter.com/signupsumo' %>
            </li>
            <li>
              <%= link_to 'Facebook', 'https://www.facebook.com/signupsumo' %>
            </li>
            <li>
              <%= link_to 'Instagram', 'http://instagram.com/signupsumo' %>
            </li>
          </ul>

          <div style="margin-top: 30px"></div>

          <p style="font-weight: 200">&copy; 2015 SignupSumo</p>

          <ul class="list-inline">
            <li>
              <a href="mailto:signupsumo@helpful.io" data-helpful="signupsumo">Need Help?</a>
            </li>
            <li>
              <%= link_to 'Terms', terms_path %>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
