<div class="footer">
  <div class="container clearfix">
    <div class="row">

      <div class="col-xs-12 col-sm-2 col-sm-push-5">
        <div class="footer-emblem">
          <%= image_tag "icons/sumo-embelem-yellow@2x.png" %>
        </div>
      </div>

      <div class="hidden-xs col-sm-5 col-sm-pull-2">
        <div class="text-left">
          <p>Follow the Sumo</p>

          <ul class="list-inline">
            <li>
              <%= link_to 'Twitter', 'https://twitter.com/signupsumo' %>
            </li>
            <li>
              <%= link_to 'Facebook', 'https://www.facebook.com/signupsumo' %>
            </li>
            <li>
              <%= link_to 'Instagram', 'http://instagram.com/signupsumo' %>
            </li>
          </ul>
        </div>
      </div>

      <div class="hidden-xs col-sm-5">
        <div class="text-right">
          <p>&copy; 2015 SignupSumo</p>

          <ul class="list-inline">
            <li>
              <a href="mailto:signupsumo@helpful.io" data-helpful="signupsumo">Need Help?</a>
            </li>
            <li>
              <a href="#">Privacy</a>
            </li>
            <li>
              <a href="#">Terms</a>
            </li>
            <li>
              <a href="#">Press</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="hidden-xs col-sm-5 col-sm-pull-2">
        <div class="text-left">
        </div>
      </div>

      <div class="visible-xs" style="padding-top: 100px">
        <div class="text-center">
          <p>Follow the Sumo</p>

          <ul class="list-inline">
            <li>
              <%= link_to 'Twitter', 'https://twitter.com/signupsumo' %>
            </li>
            <li>
              <%= link_to 'Facebook', 'https://www.facebook.com/signupsumo' %>
            </li>
            <li>
              <%= link_to 'Instagram', 'http://instagram.com/signupsumo' %>
            </li>
          </ul>

          <div style="margin-top: 30px"></div>

          <p>&copy; 2015 SignupSumo</p>

          <ul class="list-inline">
            <li>
              <a href="mailto:signupsumo@helpful.io" data-helpful="signupsumo">Need Help?</a>
            </li>
            <li>
              <a href="#">Privacy</a>
            </li>
            <li>
              <a href="#">Terms</a>
            </li>
            <li>
              <a href="#">Press</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
