<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to 'SignupSumo', root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= active(new_user_session_path) %>">
          <%= link_to 'Signin', new_user_session_path %>
        </li>
        <li class="<%= active(new_user_registration_path) %>">
          <%= link_to 'Signup', new_user_registration_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>
