<%= render 'shared/navbar' %>

<div class="container">
  <div class="row" style="padding: 60px 0">
    <div class="col-xs-12">
      <h2>How it all works.</h2>
      <p>Let's get you all wired up. We have a <a href="#script">custom script</a>
      that can be configured but you can always <a href="#api">call our API
      directly</a>. As always, send us an email if you need any help. The
      software geniuses that wrote the API and script will be the ones answering
      your questions, so feel free to ask super technical stuff.</p>
    </div>
  </div>
</div>

<hr>

<div class="container" id="script">
  <div class="row" style="padding: 60px 0">
    <div class="col-xs-12">
      <h2>Using our fancy script</h2>

      <p>Below is the embeddable snippet pre-configured for your account. Drop
      this sucker in anywhere on your signup form, and that's it.</p>

      <div class="well" style="margin: 24px 0">
        <div class="well-body" style="padding: 18px">
          <code>
            <%= %{<script} %><br>
            &nbsp;&nbsp;<%= %{src="https://assets.signupsumo.com/signups.js"} %><br>
            &nbsp;&nbsp;<%= %{data-token="#{current_user.authentication_token}">} %><br>
            <%= %{</script>} %>
          </code>
        </div>
      </div>

      <p>The script works its magic by watching all of your text fields and
      sends us anything that looks like an email address. Don't worry; we
      ignore password inputs. We'll look the user up based on their email
      address and let you know if they're someone super important.</p>

      <h3>Secret config options</h3>

      <p>We use data attributes on the script tag to pass in config options.
      The only two we currently support are <code>data-token</code> and
      <code>data-auto</code>.

      <p class="large" style="margin-top: 24px">
        <strong><code>data-token</code></strong>
      </p>

      <p>This is what we use to pass the token into the script and is included
      with all API reqeusts to your account. You shouldn't need to ever change
      this from your original token, unless you revoke and issue a new token.</p>

      <p class="large" style="margin-top: 24px">
        <strong><code>data-auto</code></strong>
      </p>

      <p>If you know what you're doing and you want to use our javascript
      library without the auto listening feature, set the auto data attribute
      to false: <code>data-auto="false"</code>. This prevents us from attaching
      any event handlers and automatically making API calls. Instead, you can
      call the following function with your email as a string:

      <div class="well" style="margin: 24px 0">
        <div class="well-body" style="padding: 18px">
          <code>
            $('form').submit(function() {<br>
            &nbsp;&nbsp;SignupSumo.send($('#email').val())<br>
            })
          </code>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container" id="api">
  <div class="row" style="padding: 60px 0">
    <div class="col-xs-12">
      <h2>Calling our API directly</h2>

      <p>We have a pretty simple API that was mainly built to be used with
      the script described above. However, you can totally use it without
      the script. All you need to do is send a GET request to
      "https://signupsumo.com/api/v1/signups" with your "token" param and an
      "email" param containing the email of the user that just signed up.
      </p>

      <p>Here's an example curl request.</p>

      <div class="well" style="margin: 24px 0">
        <div class="well-body" style="padding: 18px">
          <code>
            curl "https://signupsumo.com/api/v1/signups?token=<%= current_user.authentication_token %>&email=pg@ycombinator.com"<br>
            <br>
            { "response": "Submitted successfully" }
          </code>
        </div>
      </div>

      <p>If you're missing a param or you have the incorrect token you'll receive this error response.</p>

      <div class="well" style="margin: 24px 0">
        <div class="well-body" style="padding: 18px">
          <code>
            curl "https://signupsumo.com/api/v1/signups?token=INVALID&email=pg@ycombinator.com"<br>
            <br>
            { "response": "Bad request" }
          </code>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container" id="api">
  <div class="row" style="padding: 60px 0">
    <div class="col-xs-12">
      <h2>Currently facepalming?</h2>
      <p><%= mail_to 'support@signupsumo.com', 'Send us an email' %>. It'll go straight to the developer who wrote all this stuff and they can answer all of your questions. Really. We're all pretty nice folks.</p>
    </div>
  </div>
</div>

<hr>

<%= render 'shared/footer' %>
