<!--[]-->
<!DOCTYPE html>
<!--[if lt IE 8]> <html class="no-js ie lte9 lte8 lte7 unsupported-browser"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]> <html class="no-js"> <![endif]-->
<!--[if !IE]><!-->  <html class="no-js">             <!--<![endif]-->
<head>
  <!--[if !HTML5]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <![endif]-->
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!--<link rel="stylesheet" href="../../assets/stylesheets/print.f.min.css" media="print">-->
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="../../assets/stylesheets/unsupported.f.min.css" media="screen">
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="//use.typekit.net/atx1ssj.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag "screen", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body>
  <!--[if lt IE 8]>
    <p class="group">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <header class="masthead">
    <div class="masthead_inner">
      <div class="group">
      <%= image_tag "icons/sumo-logo-blue@2x.png", class: "logo" %>
      <h1 class="visuallyhidden">SignUp Sumo</h1>
        <nav>
          <ul>
            <li > 
            <!-- data-js="focus-on-form" -->
                <%= link_to 'Register', new_user_registration_path %>
            </li>
            <li>
              <%= link_to 'Login', new_user_session_path %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <section class="hero">
    <div class="group">
      <div class="block_center">
        <h1>Instant notifications</h1>
        <h2>when a high value person signs up to use your service!</h2>
      </div>
      <div class="wrap">
        <div class="group">
          <div class="block_half-left">
            <div class="email_wrap">
              <div class="email_toolbar">
                <span class="toolbar_button-red"></span>
                <span class="toolbar_button-yellow"></span>
                <span class="toolbar_button-green"></span>
              </div>
              <ul class="email_header">
                <li><span>Subject: </span>Doessier on new VIP</li>
                <li><span>Fred Wilson </span>just signed up!</li>
              </ul>
              <ul class="email_content">
                <li>His twitter account is <a href="#">@fredwilson</a> and he has <span>450,000</span> followers.</li>
                <li>He is a developer. His GitHub account is <a href="#">@fwilson</a>.</li>
                <li>He works for a recently funded startup.</li>
              </ul>
            </div>
          </div><!--
          --><div class="block_half-right">
            <ul class="hero_points">
              <li><h6>Foster a strong <span>community</span></h6></li>
              <li><h6>Convert <span>important</span> users with a personal touch</h6></li>
              <li><h6>Be a better <span>human</span></h6></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <main class="group">
      <div class="bullet-point">
        <div class="number">1</div>
        <div class="point">Send a GET request to this url with the email address of a new user when they sign up. Don’t worry, this is private.</div>
        <div class="subscribe__link"><a href="#">http://example.com/users/john/appleseed/vip/1982948692846198274018646</a></div>
      </div>
      <div class="bullet-point">
        <div class="number">2</div>
        <div class="point">Enter your email adress where you’ll want us to send the background of the most influential users of your product.</div>
        <div class='subscribe__form'>
          <form>
            <input class="action" type="email" placeholder="example@example.com"></input>
          </form>
        </div>
      </div>
      <div class="bullet-point">
        <div class="number">3</div>
        <div class="point">There is no step 3 to finding out when cool people sign up to your new product.</div>
        <a href="/register" class="btn">Try now with 10 profiles free!</a>
      </div>
      <div class="kicker">
        <p>Only <span>$9.99</span> a month for upto <span>100</span> hand picked influential members of your product.</p>
      </div>
      
    </main>
  </section> <!-- .page -->

  <footer>
    <div class="group">
      <div class="social">
        <p>Follow the Sumo on:</p>
        <a href="#">Twitter</a>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
      </div><!--
      --><div class="embelem">
      <%= image_tag "icons/sumo-embelem-yellow@2x.png" %>
        <!-- <img src="icons/sumo-embelem-yellow@2x.png"> -->
      </div><!--
      --><div class="legal">
        <p>&copy; 2014 SignUp Sumo</p>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Press</a>
      </div>
    </div>
  </footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
  <script src="../../assets/javascripts/main.min.js"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
