<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="//use.typekit.net/atx1ssj.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script async src="https://assets.helpful.io/assets/widget.js"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Signupsumo at your service</title>
</head>
<body>
  <%= yield %>
  <%= render 'shared/ga_tracker' %>
</body>
</html>
