<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container-fluid">
    <%= link_to 'Home', root_path %> |
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %> | <%= link_to 'Register', new_user_registration_path %>
    <% end %>
    
    <%= yield %>

  </div>

</body>
</html>
