<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="signupsumo-web/app/assets/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="signupsumo-web/app/assets/images/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="//use.typekit.net/atx1ssj.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script async src="https://assets.helpful.io/assets/widget.js"></script>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon-16.png', type: 'image/png' %>
  <%= favicon_link_tag 'favicon-32.png', type: 'image/png', size: '32x32' %>
  <title>Signupsumo at your service</title>
</head>
<body>
  <%= yield %>
  <%= render 'shared/ga_tracker' %>
</body>
</html>
